.bg-orange {
    background-color: orange;
}

.bg-orange a {
    color: white;
    text-decoration: none;
}

.btn-orange {
    color: white !important;
    background-color: orange !important;
    border-color: orange !important;
}

.btn-orange:hover {
    color: white !important;
    background-color: rgb(188, 122, 0) !important;
}